<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MybatisBuilder.project.settings">
    <option name="connectionInfoList">
      <list>
        <ConnectionInfo>
          <option name="database" value="operation.screen" />
          <option name="description" value="" />
          <option name="driverClass" value="" />
          <option name="driverLibrary" value="" />
          <option name="driverType" value="MySQL" />
          <option name="host" value="120.27.15.205" />
          <option name="id" value="3d1c18d58218456c8f300834a81fd695" />
          <option name="name" value="operation.screen" />
          <option name="port" value="3306" />
          <option name="url" value="" />
          <option name="userName" value="cj" />
        </ConnectionInfo>
      </list>
    </option>
    <option name="defaultParameters">
      <DefaultParameters>
        <option name="renameConfig">
          <Config>
            <option name="mapperTypePattern" value="" />
            <option name="exampleTypePattern" value="" />
            <option name="sqlFileNamePattern" value="" />
          </Config>
        </option>
        <option name="selectWithLockConfig">
          <SelectWithLockConfig>
            <option name="byPrimaryKeyWithLockOverride" value="" />
            <option name="byExampleWithLockOverride" value="" />
          </SelectWithLockConfig>
        </option>
      </DefaultParameters>
    </option>
    <option name="historyMap">
      <map>
        <entry key="JAVA_CLIENT_PACKAGE">
          <value>
            <list>
              <option value="cj.netos.screen.mapper" />
            </list>
          </value>
        </entry>
        <entry key="JAVA_MODEL_PACKAGE">
          <value>
            <list>
              <option value="cj.netos.screen.model" />
            </list>
          </value>
        </entry>
        <entry key="SQL_MAP_PACKAGE">
          <value>
            <list>
              <option value="cj.db.mappings" />
            </list>
          </value>
        </entry>
      </map>
    </option>
    <option name="lastGeneratorParamWrapper">
      <GeneratorParamWrapper>
        <option name="defaultTableConfigWrapper">
          <TableConfigurationWrapper>
            <option name="domainObjectRenamingRule">
              <DomainObjectRenamingRule>
                <option name="replaceString" value="" />
                <option name="searchString" value="" />
              </DomainObjectRenamingRule>
            </option>
            <option name="generatedKeyWrapper">
              <GeneratedKeyWrapper>
                <option name="column" value="" />
              </GeneratedKeyWrapper>
            </option>
          </TableConfigurationWrapper>
        </option>
        <option name="javaClientConfig">
          <JavaClientGeneratorConfiguration>
            <option name="configurationType" value="XMLMAPPER" />
            <option name="targetPackage" value="cj.netos.screen.mapper" />
            <option name="targetProject" value="$PROJECT_DIR$/cj.netos.screen.program/src" />
          </JavaClientGeneratorConfiguration>
        </option>
        <option name="javaModelConfig">
          <JavaModelGeneratorConfiguration>
            <option name="targetPackage" value="cj.netos.screen.model" />
            <option name="targetProject" value="$PROJECT_DIR$/cj.netos.screen.openports/src" />
          </JavaModelGeneratorConfiguration>
        </option>
        <option name="sqlMapConfig">
          <SqlMapGeneratorConfiguration>
            <option name="targetPackage" value="cj.db.mappings" />
            <option name="targetProject" value="$PROJECT_DIR$/cj.netos.screen.program/src" />
          </SqlMapGeneratorConfiguration>
        </option>
      </GeneratorParamWrapper>
    </option>
    <option name="tableInfoMap">
      <map>
        <entry key="operation.screen#current_screen">
          <value>
            <TableInfo>
              <option name="database" value="operation.screen" />
              <option name="domainName" value="CurrentScreen" />
              <option name="tableComment" value="运营屏" />
              <option name="tableName" value="current_screen" />
            </TableInfo>
          </value>
        </entry>
        <entry key="operation.screen#popup_rule">
          <value>
            <TableInfo>
              <option name="database" value="operation.screen" />
              <option name="domainName" value="PopupRule" />
              <option name="tableComment" value="弹屏规则&#10;大概要有：&#10;- 初装app&#10;- 每次打开&#10;- 无（即不弹）&#10;" />
              <option name="tableName" value="popup_rule" />
            </TableInfo>
          </value>
        </entry>
        <entry key="operation.screen#screen_subject">
          <value>
            <TableInfo>
              <option name="database" value="operation.screen" />
              <option name="domainName" value="ScreenSubject" />
              <option name="tableComment" value="屏幕主体" />
              <option name="tableName" value="screen_subject" />
            </TableInfo>
          </value>
        </entry>
      </map>
    </option>
  </component>
</project>